name: avito-task-2025

services:
    postgres-master:
      container_name: postgres-master
      image: bitnami/postgresql:16
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U admin"]
        interval: 5s
        timeout: 5s
        retries: 5
      environment:
        POSTGRESQL_REPLICATION_MODE: master
        POSTGRESQL_REPLICATION_USER: repl_user
        POSTGRESQL_REPLICATION_PASSWORD: avito
        POSTGRES_DB: shop
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: avito
        POSTGRESQL_PORT: 5432
        TZ: "Europe/Moscow"
      ports:
        - "5438:5432"
      restart: on-failure
      volumes:
        - ./db/postgres/init:/docker-entrypoint-initdb.d
        - ./db/postgres/data:/var/lib/postgresql/data
#       networks:
#       - avito-network
  
# networks:
#   avito-network:
#     driver: bridge